@import "tailwindcss";

/* Hide scrollbar while keeping scroll functionality */
.modal-scroll::-webkit-scrollbar {
  display: none;
}

.modal-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

